---
const { frontmatter } = Astro.props;
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>publish on : {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written By {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout>
